<h1>Crear nuevo libro</h1>

<form action="/books/createBook" method="POST" class="crearLibro">

    <input type="text" name="title" placeholder="Título" autofocus>
    <input type="text" name="cover" placeholder="Imagen del libro...">
    <textarea name="description" cols="30" rows="10"></textarea>
    <select name="category">
        <option disabled>Selecciona categoria</option>
        <option value="Ciencia_Ficción">Ciencia Ficción</option>
        <option value="Terror">Terror</option>
        <option value="Épica">Épica</option>
        <option value="Manual">Manual</option>
    </select>
    <input type="number" name="stock" placeholder="Stock">
    <input type="text" name="price" placeholder="Precio">

    <button type="submit">Guardar libro</button>

</form>

