<nav>
    <ul>
        <li><a href="/">The Bookstore</a></li>
        <li><a href="/books">CATALOGO</a></li>
        <li><a href="/books/add">CREAR LIBRO</a></li>
    </ul>

    <form action="">
        <input type="search" name="search" placeholder="Buscar...">
        <button></button>
    </form>
</nav>

