{{!-- name: lo que se le va a mandar al controlador --}}

<form action="/login" method="POST">
<label for="">Login</label>
<input type="text" name="username">
<button type="submit">Login</button>
</form>