@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import 'foundation/code', 'foundation/lists';

:root {
    --primary-color: #82D9B6;
    --secondary-color: #8C4638;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-size: 1rem;
}

.login-header {
    display: flex;
    justify-content: center;
}

.login-header figure {
    margin-top: 20vh;
}

.login-header figure img {
    width: 50vh;
}

.login-main {
    height: 50vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    place-self: center;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form input {
    width: 30vw;
    padding: 1vh;
    background-color: lightblue;
    border-radius: 10px;
}

.login-form button {
    background-color: var( --primary-color);
    margin-top: 2vh;
    padding: 1vh;
    width: 15vw;
    border-radius: 15px;
    align-self: center;
}

.header-navBar {
    padding: 3vh;
    background-color: var( --primary-color);
}

.header-navBar nav {
    display: grid;
    grid-template-columns: 50% 50%;
}

@media (max-width: 600px) {
    .header-navBar nav {
        display: block;
    }
    .header-navBar nav * {
        display: block;
    }
    .header-navBar nav ul * {
        display: block;
    } 
}   

.header-navBar nav ul {
    display: flex;
    justify-content: space-evenly;
}

.header-navBar nav ul form button input {
    width: 30vw;
    height: 4vh;
    border-radius: 6px;
    padding-left: 1vw;
}

/*CSS BOOKS*/


main section {
    margin-top: 10px;
}

main section ul {
    /* filter: drop-shadow(0px 5px 7px rgba(0, 0, 0, 0.2)); */
    padding: 10px;
}

.img-container {
    width: 238px;
    height: 335px;
}

main section ul li {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
    width: 250px;
    border: 1px solid darkgrey;
    padding: 5px;
    float: left;
}

li img {
    width: 100%;
    height: 100%;
}

main section ul li dt {
    font-weight: 600;
}

main section ul li dd:first-child {
    grid-column: 1 / span 2;
}

main section ul li form {
    display: flex;
    justify-content: space-between;
    grid-column: 1 / span 2;
    margin-top: 10px;
}

main section ul li form button,
main section ul li form a {
    background-color: #82D9B6;
    padding: 5px 10px;
    font-size: 16px;
    letter-spacing: 2px;
    color: white;
}

.btn-delete {
    background-color: var(--secondary-color);
}

/* CSS EDIT BOOKS */
.main-create,
.main-edit {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0px !important;
}

.form-createBook,
.form-editBook {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    border: solid 2px black;
    padding: 15px;
    max-width: 600px;
    padding: 15px;
    min-width: 310px;
}

.form-createBook input,
.form-editBook input {
    border: 1px solid #82D9B6;
    width: 100%;
    margin-top: 9vh;
    margin: 0.5vw;
    padding: 1vh;
}

.form-createBook textarea,
.form-editBook textarea {
    height: 15vh;
    border: 1px solid #82D9B6;
    width: 100%;
}

.form-createBook select,
.form-editBook select {
    border: 1px solid #82D9B6;
    width: 100%;
    margin: 0.5vw;
    padding: 1vh;
}

.form-createBook button,
.form-editBook button {
    background-color: #82D9B6;
    width: 100%;
    margin: 0.5vw;
}